<div id="container-total">
	<h1>Welcome to Bike Oestrich-Winkel</h1>
	<h2>Your source for used bikes in Berlin</h2>
	<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("racebike.jpg", class: "img-responsive my-image") %>
</div>